@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";



/* This makes Montserrat Alternates the default font for your whole app */
/* @layer base {
  body {
    font-family: "Montserrat Alternates", system-ui, sans-serif;
  }
} */

body { overflow-x: hidden; }



/* Fonts */
.font-bricolage {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}





/* Gradient Button Color */
:root {
 --primary-btn-gradient: linear-gradient(to right, #F3395E, #9431B6);
 --primary-bg-gradient: linear-gradient(to right, #9431B6, #F3395E);
}

.primary-btn {
  background: var(--primary-btn-gradient);
  color: white;
}

.primary-bg {
  background: var( --primary-bg-gradient);
}

.primary-txt {
  background: var(--primary-btn-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-txt2 {
  background: var(--primary-bg-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-btn:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}




/* Gradient Border */
.gradient-border {
  padding: 6px;
  border-radius: 12px;
  background: linear-gradient(to right, #F3395E, #9431B6);
}




/* Floting */
.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}








/* Testimonials */
@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

@keyframes scrollDown {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

.animate-scroll-up {
  animation: scrollUp 25s linear infinite;
}

.animate-scroll-down {
  animation: scrollDown 25s linear infinite;
}